<h3>Hospital Information</h3>

<%= @facility.name %>
<%= @facility.address %>
<%= @facility.zip %>

<%= link_to "Patient Records", facility_patients_path(@facility) %>
<%= link_to "Medications", meds_path %>