%h2 Assignments

= link_to "Create New Assignment", new_user_assignment_path(@user)

%ul 
 -@assignments.each do |assignment|
  %li
  = assignment.name
  = assignment.requirements
  = link_to "Edit", edit_user_assignment_path(@user,assignment)
  = link_to "Delete", user_assignment_path(@user,assignment), method: :delete
  = link_to "Manage Submissions", user_assignment_submissions_path(@user,assignment)
  / workflow status