%html
  
  %h3 Patient Information

  %body
  = @patient.first_name 
  = @patient.last_name 
  = @patient.d_o_b 
  = @patient.description 
  = @patient.gender
  = @patient.blood_type

  = link_to "Back", facility_patients_path(@facility) 
  = link_to "Edit", edit_facility_patient_path(@facility,@patient)
 
  %ul
    -@meds.each do |med| 
      %li
      = med.name 
      = med.dose 
      = med.description  



