<h3>Patient Information</h3>

<%= @patient.first_name %>
<%= @patient.last_name %>
<%= @patient.d_o_b %>
<%= @patient.description %>
<%= @patient.gender%>
<%= @patient.blood_type%>

<%= link_to "Back", facility_patients_path(@facility) %>

<ul>
  <% @meds.each do |med| %>
    <li>
      <%= med.name %>
      <%= med.dose %>
      <%= med.description %> 
    </li>
  <% end %> 
</ul>

