%h3 Patient Records


=link_to "Home", facilities_path(@facility)
=link_to 'New Patient', new_facility_patient_path


%body
= form_tag facility_patients_path, method: :get, class: "navbar-form", role: "search" do
  .input-group
    = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search"
    .input-group-btn
      %button.btn.btn-default
        %i.glyphicon.glyphicon-search

.container-fluid
  .row
  - x = 0
  - y = 1
  %ul{class: "property_list"}
    - @patients.each_slice(10) do |row|
      %li{class: "section_#{x+1}"}
      - x = x+1
      - row.each do |patient|
        .col-md-3
          .list-group-item    
            =patient.first_name 
            =patient.last_name 
            =link_to 'View Patient Info', facility_patient_path(@facility,patient)

.col-md-12.text-center
  %ul{class: "link_list"}
    - x.times do
      %li{class: "link_#{y}"}
        %a{class: "link_#{y}", med_num: y}
          ="page #{y}"
      - y += 1



  