<h3>Patient Admission</h3>

<%= link_to "New Patient", new_patient_path %>


<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= patient.last_name %>
      <%= patient.d_o_b %>
      <%= patient.gender %>
      <%= link_to "Edit", edit_patient_path(patient) %>
    
    </li>
  <% end %>
</ul>


<%= link_to "Home", root_path %>