!!!
%html
  %head
    %title Hospital
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"}
  %body
    

    .contianer.theme-showcase{:role => "main"}
      %div.row
        %div.col-md-3
          = render 'layouts/sidebar'
        %div.col-md-9
          = yield

